
@model SchoolStore.Models.ProductCategory

@{
    ViewData["Title"] = Model.Name;
}


<div class="jumbotron" style="background-image:url(@Model.CategoryImage); background-size:cover; background-position-y: -80px; color:lightgrey">
    <h2>@Html.DisplayFor(model =>model.Name)</h2>
</div>

<div class="row">
    <div class="col-2">
        <div class="card">
            @*<div class="card-header">Possible Filter By Color</div>*@
            if(model.ChildCategories)
            {
                <div class="card-body">
                    @foreach (var child in Model.ChildCategories)
                    {
                        <a asp-route-id="@child.ID">@child.Name</a>
                    }
                </div>
            }

        </div>
      </div>
    <div class="col-10">
    </div>
        <div class="row">
          @foreach (Products product in Model.Products)
            {
            <div class="col-3">
                <h5>@product.ProductName</h5>
                <p>@product.ProductDescription</p>
                <img src="@(product.Configurations.Any() ? product.Configurations.First().ImageURL : "noimage.jpg")" />
                @* <img src="@Products. .FirstOrDefault(x => x.ProductConfiguration.Product.ID == ID)" />
        how to link image from first configuration to view with products model only *@

                <a asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="@product.ID">Configure Product</a>
            </div>

            }
        </div>
    </div>
 </div>
