
@model SchoolStore.Models.ProductCategory

@{
    ViewData["Title"] = Model.Name;
}


<div class="jumbotron" style="background-image:url(@Model.CategoryImage); background-size:cover; background-position-y: -80px; color:lightgrey">
    <h2>@Html.DisplayFor(model =>model.Name)</h2>
</div>

<div class="row">
    <div class="col-2">
        <div class="card">
            <div class="card-header">Possible Filter By Color</div>
            <div class="card-body">
                @*
        <form>
            @foreach (string color in ((IEnumerable<string>)ViewData["color"]))
            {
                <input type="checkbox" value="@color" name="color" />@color
            }
        </form>
                *@
            </div>
        </div>
    </div>
</div>
<div class="col-10">
    <div class="row">
        @foreach (Products product in Model.Products)
        {
            <div class="col-3">
                <h3>@product.ProductName</h3>
                @*how to link image from configuration to view with products model only *@
                <a asp-area="" asp-controller="Products" asp-action="Index" asp-route="@product.Category.ParentProductCategory`">Configure Product</a>
            </div>

        }
    </div>
</div>
