@model SchoolStore.Models.Products

@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to The School Store!</h2>
<div class=row>
    <div class="col-4 image-fluid">
        <img src="@Model.ImageURL">
        @*<img src="~/schoolstore/images/blackshirt.jpg" />*@
    </div>
    <div class="col-8">
        <dl>
            <dt>ID Number</dt>
            <dd>@Model.ID</dd>
            <dt>Product Name</dt>
            <dd>@Model.ProductName</dd>
            <dt>Description</dt>
            <dd>@Model.ProductDescription</dd>
        </dl>



        @if (Model.Reviews != null && Model.Reviews.Any())
    {
        @foreach (var review in Model.Reviews)
    {
        <blockquote>
            @review.Body - @review.Rating
        </blockquote>
}
}



        <form asp-action="index" asp-controller="prodcuts" methods="post">
            <input type="hidden" name="id" value="@Model.ID" />
            <select name="color" class="form-control">
                <option value="">Select a Color</option>
                @foreach (var color in Model.Configurations.Select(x => x.Color).Distinct())
                {
                    <option value="@color.ID">@color.Name</option>
                }

            </select>
            <br />

            <select name="size" class="form-control">
                <option value="">Select a Size</option>
                @foreach (var size in Model.Configurations.Select(x => x.Size).Distinct())
                {
                    <option value="@size.ID">@size.Name</option>
                }
            </select>


            <br />
            <input type="submit" value="Add Product to Cart" class="alert-success" />
        </form>


       
        </div>

    </div>


