@model SchoolStore.Models.Products

@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to The School Store!</h2>
<div class=row>
    <div class="col-4 image-fluid">
        <img id="productImage" src="@(Model.Configurations.Any() ? Model.Configurations.First().ImageURL : "noimage.jpg")">
        @*<img src="~/schoolstore/images/blackshirt.jpg" />*@
    </div>
    <div class="col-8">
        <dl>
            <dt>ID Number</dt>
            <dd>@Model.ID</dd>
            <dt>Product Name</dt>
            <dd>@Model.ProductName</dd>
            <dt>Description</dt>
            <dd>@Model.ProductDescription</dd>
        </dl>



        @if (Model.Reviews != null && Model.Reviews.Any())
    {
        @foreach (var review in Model.Reviews)
    {
        <blockquote>
            @review.Body - @review.Rating
        </blockquote>
}
}



        <form asp-action="index" asp-controller="products" methods="post">
            <input type="hidden" name="id" value="@Model.ID" />
            <select name="color" class="form-control" id="color" required>
                <option value="">Select a Color</option>
                @foreach (var color in Model.Configurations.Select(x => x.Color).Distinct())
                {
                    <option value="@color.ID">@color.Name</option>
                }

            </select>
            <br />

            <select name="size" class="form-control" id="size" required>
                <option value="">Select a Size</option>
                @foreach (var size in Model.Configurations.Select(x => x.Size).Distinct())
                {
                    <option value="@size.ID">@size.Name</option>
                }
            </select>


            <br />
            <input type="submit" value="Add Product to Cart" class="alert-success" />
        </form>


       
        </div>

    </div>


@section Scripts{ 
    <script type="text/javascript">
        var configurations = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Configurations.Select(x => new { ColorId = x.ColorID, SizeId = x.SizeID, Inventory = x.Inventory, ImageUrl = x.ImageURL })))


            $("#color").change((e) => {

                
                var validSizes;
                var selectedColor = $("#color").val();

                var image = configurations.filter(x => x.ColorId == selectedColor)[0].ImageUrl;

                $("#productImage").attr("src", image);

                if (selectedColor !== "") {
                    validSizes = configurations.filter(x => x.ColorId == selectedColor).map(x => x.SizeId);
                } else {
                    validSizes = configurations.map(x => x.SizeId);
                }

                $("#size").children().each((pos, option) => {
                    if ((option.value === "") || (validSizes.indexOf(parseInt(option.value)) >= 0)) {
                        console.log("keeping" + option.value);
                        $(option).removeAttr("disabled");

                    } else {
                        console.log("removing" + option.value);
                        $(option).attr("disabled", "true");
                        

                    }
                })
                //console.log(selectedColor);
                //console.log(validSizes);

            })

        $("#size").change((e) => {
            var validColors;
            var selectedSize = $("#size").val();
            if (selectedSize !== "") {
                validColors = configurations.filter(x => x.SizeId == selectedSize).map(x => x.ColorId);
            } else {
                validColors = configurations.map(x => x.ColorId);
            }

            $("#color").children().each((pos, option) => {
                if ((option.value === "") || (validColors.indexOf(parseInt(option.value)) >= 0)) {
                    //console.log("keeping" + option.value);
                    $(option).removeAttr("disabled");

                } else {
                    //console.log("removing" + option.value);
                    $(option).attr("disabled", "true");

                }
            })

        })

    </script>

}