@model SchoolStore.Models.ShippingViewModel
@{
    ViewData["Title"] = "Index";
    var states = (new string[] { "", "Alabama", "Alaska", "Arkansas" }).Select(x => new SelectListItem { Text = x, Value = x });
}
<h2>Shipping Information</h2>
@if (Model.CartLineItem != null)
{
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            @foreach (var item in Model.CartLineItem)
            {
            <tr>
                <td>@item.ProductConfiguration.Product.ProductName</td>
                <td>@item.ProductConfiguration.Color.Name</td>
                <td>@item.ProductConfiguration.Size.Name</td> 
                <td>
                    <form asp-action="update" asp-controller="shipping" method="post" class="form-inline">
                        <input name="productId" value="@item.ID" type="hidden" />
                        <input name="quantity" value="@item.Quantity" type="number" class="form-control-sm" /><input type="submit" value="Update Quantity" class="btn btn-primary" />
                    </form>
                </td>
                <td>@((item.ProductConfiguration.Product.UnitPrice ?? 0m).ToString("c"))</td>
            </tr>
            }
            <tfoot>
                <tr>
                    <th colspan="2">Subtotal</th>
                    <th>@Model.CartLineItem.Sum(x => (x.ProductConfiguration.Product.UnitPrice ?? 0m) * x.Quantity).ToString("c")</th>
                </tr>
            </tfoot>
        </table>
    </div>
}
@if (!this.ViewContext.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}
    <form method="post" asp-action="Index" asp-controller="Shipping" novalidate>
        <div class="form-group">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="@(ViewData.ModelState.ContainsKey("Address") && ViewData.ModelState.FirstOrDefault(x => x.Key == "Address").Value.ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid ? "form-control is-invalid" : "form-control")" placeholder="address" required />
            <span class="invalid-feedback">Address is required</span>
        </div>
        <div class="form-group">
            <label asp-for="City"></label>
            <input asp-for="City" placeholder="city" class="@(ViewData.ModelState.ContainsKey("City") && ViewData.ModelState.FirstOrDefault(x => x.Key == "City").Value.ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid ? "form-control is-invalid" : "form-control")" required />
            <span class="invalid-feedback">City is required</span>
        </div>
        <div class="form-group">
            <label asp-for="State"></label>
            <select asp-for="State" asp-items="states" required class="@(ViewData.ModelState.ContainsKey("State") && ViewData.ModelState.FirstOrDefault(x => x.Key == "State").Value.ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid ? "form-control is-invalid" : "form-control")"></select>
            <span asp-validation-for="State" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            <label asp-for="ZipCode"></label>
            <input asp-for="ZipCode" placeholder="zip code" required pattern="^\d{5}(?:[-\s]\d{4})?$" class="@(ViewData.ModelState.ContainsKey("ZipCode") && ViewData.ModelState.FirstOrDefault(x => x.Key == "ZipCode").Value.ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid ? "form-control is-invalid" : "form-control")" />
            <span asp-validation-for="ZipCode" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date"></label>
            <input asp-for="Date" required class="@(ViewData.ModelState.ContainsKey("Date") && ViewData.ModelState.FirstOrDefault(x => x.Key == "Date").Value.ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid ? "form-control is-invalid" : "form-control")" placeholder="Date" />
            <span asp-validation-for="Date" class="invalid-feedback"></span>
        </div>

        @*Shipping Address Stuff Above  need to update this information review buttons and messages*@

        <button class="btn btn-light">Verify Shipping Address</button>
        <div>
            
        </div>

        <div class="form-group">
            <label for="creditcardnumber">Credit Card</label>
            <input type="text" name="creditcardnumber" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="creditcardname">Name On Card</label>
            <input type="text" name="creditcardname" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="creditcardverificationvalue">CVV</label>
            <input type="text" name="creditcardverificationvalue" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="expirationmonth">Expiration</label>
            <div class="form-row">

            <div class="col">
                <select name="expirationmonth" class="form-control" required>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="01">01</option>
                </select>
            </div>
            <div class="col">
                <select name="expirationyear" class="form-control" required>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                </select>
            </div>
        </div>
    </div>


        <input type="submit" class="btn btn-dark" />
    </form>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(() => {
            $('form').submit((event) => {
                if (event.target.checkValidity() == false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                $(event.target).addClass('was-validated');
            })
        });

    </script>
}
@section AdditionalHead{
    @* <meta description="This is the shipping page" />*@
}